/* Menargetkan semua elemen dalam dokumen html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Mengatur elemen body */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #5761B2, #1FC5A8);
}

/* Mengatur tata letak elemen dalam kalkulator */
.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background-color: rgb(195, 228, 250);
  box-shadow: 0 5px 10px rgb(61, 95, 91);
}

/* Mengatur tata letak kalkulator */
.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}

/* Mengatur tata letak tombol kalkulator */
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #f9d7e6;
}

.buttons button:active {
  transform: scale(0.99);
}

/* Mengatur warna simbol kalkulator */
.operator {
  color: #0804ff;
}
